.song_ti { font-family: 'SimSun'; }
.hei_ti { font-family: 'SimHei'; }
.wei_ruan_ya_hei { font-family: 'Microsoft Yahei'; }
.wei_ruan_zheng_hei_ti { font-family: 'Microsoft JhengHei'; }
.kai_ti { font-family: 'KaiTi'; }
.xin_song_ti { font-family: 'NSimSun'; }
.fang_song { font-family: 'FangSong'; }
.ping_fang { font-family: 'PingFang SC'; }
.hua_wen_hei { font-family: 'STHeiti'; }
.hua_wen_kai { font-family: 'STKaiti'; }
.hua_wen_song { font-family: 'STSong'; }
.hua_wen_fang_song { font-family: 'STFangsong'; }
.hua_wen_zhong_song { font-family: 'STZhongsong'; }
.hua_wen_hu_po { font-family: 'STHupo'; }
.hua_wen_xin_wei { font-family: 'STXinwei'; }
.hua_wen_li_shu { font-family: 'STLiti'; }
.hua_wen_xing_kai { font-family: 'STXingkai'; }
.lan_ting_hei_jian { font-family: 'Lantinghei SC'; }
.you_yuan { font-family: 'YouYuan'; }
.li_shu { font-family: 'KaLiSuiTi'; }
.hua_wen_xi_hei { font-family: 'STXihei'; }
.hua_wen_cai_yun { font-family: 'STCaiyun'; }
.fang_zheng_shu_ti { font-family: 'FZShuTi'; }
.fang_zheng_yao_ti { font-family: 'FZYaoti'; }